<mat-card>

  <mat-toolbar color="primary"><span>Contatos Disponiveis</span>
  </mat-toolbar>
<div *ngIf="contats$ | async as contats; else loading">
<table mat-table [dataSource]="contats " class="mat-elevation-z8">

  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let contat"> {{ contat._id }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let contat"> {{ contat.name }} </td>
  </ng-container>

  <!-- contat Column -->
  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef> Telefone </th>
    <td mat-cell *matCellDef="let contat"> {{contat.telefone}}</td>
  </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab color="accent" aria-label="Adicionar um Contato">
            <mat-icon (click)="onAdd()" >add</mat-icon>
          </button>
        </mat-header-cell>

        <mat-cell *matCellDef="let contat">
          <button mat-icon-button color="primary" aria-label="Editar Contato">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" aria-label="Remover Contato">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>

      </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

</mat-card>
